* {
    margin: 0;
    padding: 0;
}


.logo {
    background-image: url("mlrit.jpeg");
    background-size: cover;
    height: 150px; 
}

nav {
    background-color: #82667f;
    overflow: hidden;
}

nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    color: black;
}

#home{
    padding-right: 920px;
}

#student {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

#student {
    background-color: #333;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #555;
}

/*student access*/

  section {
    padding: 20px;
  }

  h2 {
    color: #333;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }

  th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }

  th {
    background-color: #333;
    color: #fff;
  }